* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
}

.navItems > ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItems > ul > li {
    list-style: none;
    font-size: 18px;
}

.header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-inline: 20px;
}

.logoContainer {
    width: 80px;
}

.logoContainer > img{
    width: 100%;
}

.cartContainer {
    width: 60px;
}

.cartContainer > img{
    width: 100%;
}

.body {
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 40px;
}

.res-Container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 32px; 
}

.res-card{
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.res-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.res-card-info {
    padding-inline: 10px;
}

.res-card > img {
    width: 100%;
    height: 200px;
}

.foodyBuddy {
    padding-left: 133px;
}

.search-and-bestBtn {
    display: flex;
    justify-content: space-between;
}

.find-top-res-btn {
    font-size: 16px;
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}