* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 20px;
}

.navItems > ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItems > ul > li {
    list-style: none;
    font-size: 18px;
}

.header{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.logoContainer {
    width: 80px;
}

.logoContainer > img{
    width: 100%;
}

.cartContainer {
    width: 60px;
}

.cartContainer > img{
    width: 100%;
}

.body {
    padding-inline: 20px;
    max-width: 1200px;
    margin-inline: auto;
    margin-block: 40px;
}

.res-Container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
    gap: 32px; 
}

.res-card{
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    background-color: white;
}

.res-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.res-card-info {
    padding-inline: 10px;
}

.res-card > img {
    width: 100%;
    height: 200px;
}

.res-card-shimmer {
    border-radius: 8px;
    padding-bottom: 24px;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    height: 300px;
}

.foodyBuddy {
    padding-left: 133px;
}

.search-and-bestBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.find-top-res-btn {
    font-size: 16px;
    padding: 8px;
    background-color: white;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.search-and-bestShimmer{
    width: 200px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.Log-In-Out-Btn{
    padding: 5px;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
}

.search-by-res{
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    box-shadow: 0 0 10px #0003;
    border: none;
}

.search-by-resBtn{
    margin-inline: 5px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px;
    font-size: 16px;
    box-shadow: 0 0 10px #0003;
}

.res-link {
    text-decoration: none;
    color: #000000;
}

.res-menu-details {
    max-width: 800px;
    margin-inline: auto;
    margin-top: 70px;
    padding-inline: 20px ;
}

.res-menu-details-rating-sec{
    margin-block: 20px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px #0003;
}

.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.right-sec-menu{
    max-width: 200px;
    border-radius: 20px;
    overflow: hidden;
}

.menu-image{
    width: 100%;
}

.left-sec-menu > p {
    margin-top: 20px;
}